@font-face {
  font-family: 'Merriweather';
  src: url(./Merriweather_24pt-Regular.ttf), format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url(./Merriweather_48pt-Bold.ttf), format('truetype');
  font-weight: bold;
  font-display: swap;
}