html,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-inline-size: 375px;
  max-inline-size: 1240px;
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 40px;
}

.header__logo {
  max-width: 100px;
  max-height: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.menu-link {
  padding: 8px;
  font-size: var(--font-size-menu);
  border-radius: 8px;
}

.menu-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.menu-link_active {
  background-color: #000;
  color: #fff;
  pointer-events: none;
  cursor: default;
}

/* main */
.home-main__section:not(:last-child) {
  margin-block-end: 90px;
}

.home-main__section-title {
  margin-block-end: 15px;
}

/* cover */
.home-main__cover-images {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.home-main__cover-image {
  max-width: 300px;
  max-height: 500px;
}

.home-main__cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-main__cover-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-main__cover-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 0 0;
  max-width: 500px;
  position: relative;
}

.home-main__cover-info * {
  z-index: 10;
}

.home-main__cover-info::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--before-color-circle);
  inset: -13px 0 0 55%;
  z-index: 0;
  width: 250px;
  height: 250px;
  z-index: 0;
}

.home-main__cover-info::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--after-color-circle);
  inset: 60% 0 0 -10%;
  z-index: 0;
  width: 200px;
  height: 200px;
  z-index: 0;
}

.home-main__cover-title {
  font-size: var(--font-size-h1);
  margin-block-end: 20px;
}

.home-main__cover-paragraph {
  text-align: justify;
  line-height: 1.7;
  text-align-last: left;
}

.home-main__cover-button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.home-main__cover-button-list a {
  padding: 8px;
  border-radius: 8px;
  font-size: var(--font-size-button);
  border: 1px solid #000;
}

.home-main__cover-button-list a:hover {
  color: #fff;
  background-color: #000;
}

/* news */
.home-main__news-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__image {
  width: 380px;
  height: 200px;
  margin-block-end: 7px;
}

.news__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-main__news-list .home-main__news-item:nth-child(1),
.home-main__news-list .home-main__news-item:nth-child(2) {
  border-right: 1px solid #00000030;
  padding-right: 25px;
}

.home-main__news-item {
  max-width: 380px;
}

.news__date {
  font-size: 13px;
  color: #0000005e;
  font-weight: bold;
}

.news__title {
  margin-block: 15px 10px;
}

.home-main__gallery-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.home-main__gallery-more::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--before-color-circle);
  inset: -50px 100px 0 -50px;
  z-index: 0;
  width: 200px;
  height: 200px;
}

.home-main__gallery-more::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--after-color-circle);
  inset: 117px 0 0 30px;
  z-index: 0;
  width: 170px;
  height: 170px;
}

.home-main__gallery-more a {
  transition: transform 0.5s;
}

.home-main__gallery-more:hover a {
  transform: scale(1.5);
}

.home-main__gallery-more * {
  z-index: 10;
}

.home-main__gallery-more h2 {
  font-size: var(--font-size-h2);
}

.home-main__gallery-item {
  width: 300px;
  height: 200px;
  border-radius: 4%;
}

.home-main__gallery {
  display: flex;
  flex-direction: row;
}

.carousel {
  width: 100%;
  height: 200px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent 0,
    transparent 0,
    black 60px,
    black calc(100% - 60px),
    transparent calc(100% - 20px),
    transparent 100%
  );
}

.carousel-track {
  display: flex;
  width: max-content;
  overflow: hidden;
  gap: 10px;
}

.carousel-track img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.home-main__articles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home-main__articles-item:hover {
  box-shadow: 0px 20px 20px 0px #e1e1e1;
}

.articles__container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.articles__image {
  width: 380px;
  height: 200px;
  flex: 1 0 0;
}

.articles__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.articles__info {
  flex: 2 1 0;
}

.articles__title {
  margin-block-end: 5px;
}

.articles__date {
  font-size: 13px;
  color: #0000005e;
  font-weight: bold;
}

.articles__paragraph {
  margin-block-start: 20px;
  text-align: justify;
}

.articles__button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 15px;
  border: 1px solid #000;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  overflow: hidden;
  margin-block-start: 40px;
}

.articles__button img {
  transition: transform 0.5s;
}

.articles__button:hover img {
  transform: scale(1.5);
}

.articles__button::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--before-color-circle);
  inset: 3px 0 0 -22px;
  z-index: 0;
  width: 90px;
  height: 90px;
}

.articles__button::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--after-color-circle);
  inset: -44px 0 0 128px;
  z-index: 0;
  width: 90px;
  height: 90px;
}

.articles__button * {
  z-index: 10;
}

/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 40px;
}

.footer__logo {
  max-width: 100px;
  max-height: 100px;
}
